/* Config */
$color-bg: #1e1e1e;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}

.page-bg {
  background-blend-mode: screen;
  background-size: cover;
  z-index: 1;
}

.particle,
.particle:after {
  background: transparent;
  z-index: -1;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
  z-index: -1;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(600);
  height: 1.9px;
  width: 1.9px;
}

.particle-1:after {
  @include particles(400);
  height: 1.9px;
  width: 1.9px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(600);
  height: 1.9px;
  width: 1.9px;
}

.particle-2:after {
  @include particles(400);
  height: 1.9px;
  width: 1.9px;
}
